/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-11-2017, 23:00:31
    Author     : Stanislav
*/

.modal-footer{
    text-align: left;    
}

.form-inline .form-group {
    margin-bottom: 11px;
}

.form-inline .control-label {
    width: 110px;
    text-align:right;
    margin-right: 10px;
}

#previousInquiries{
    max-height: 85px;
    overflow-y:scroll;
}
